@import "tailwindcss";

.scrollbar::-webkit-scrollbar{
   width: 10px;
}
.scrollbar::-webkit-scrollbar-thumb{
    background-color: #0075FF;
    height: 10px;
    border-radius: 10px;
}

@media (max-width:759px) {
    .scrollbar::-webkit-scrollbar{
        display: none ;
    }
}